# Auto detect text files and perform LF normalization
* text=auto

# Documents
*.md text diff=markdown
*.txt text
*.json text
*.yml text
*.yaml text
*.xml text
*.html text
*.css text
*.js text
*.ts text
*.tsx text

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Fonts
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary

# Archives
*.zip binary
*.tar.gz binary
*.tgz binary
*.rar binary
*.7z binary 